{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        td:nth-child(6) {
            white-space:nowrap;
        }
    </style>
{% endblock %}

{% block title %}Participants{% endblock %}

{% block body %}
    <h1>Participants</h1>

    <div {{ turbo_stream_listen('App\\Entity\\Participant') }}>
        {{ data_table(table) }}
    </div>

    <div class="mt-3 float-end">
        <a class="btn btn-secondary" href="{{ path('app_participant_new') }}">Add participant</a>
        <a class="btn btn-secondary" href="{{ path('app_participant_import') }}">Import CSV</a>
        <a class="btn btn-secondary" href="{{ path('app_participant_export') }}">Export CSV</a>
    </div>
{% endblock %}
