{% extends 'base.html.twig' %}

{% block title %}Achievements{% endblock %}

{% block body %}
    <h1>Achievement Definitions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Uri</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achievement_definition in achievement_definitions %}
            <tr>
                <td>{{ achievement_definition.name }}</td>
                <td>{{ achievement_definition.uri }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_achievement_definition_show', {'id': achievement_definition.id}) }}">Show</a>
                    <a class="btn btn-secondary" href="{{ path('app_achievement_definition_edit', {'id': achievement_definition.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_achievement_definition_new') }}">Create new</a>
    <a class="btn btn-secondary" href="{{ path('app_achievement_definition_import') }}">Import</a>
{% endblock %}
