{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        td:nth-child(3) {
            white-space:nowrap;
        }
    </style>
{% endblock %}

{% block title %}Achievements{% endblock %}

{% block body %}
    <h1>Achievement Definitions</h1>

    <div {{ turbo_stream_listen('App\\Entity\\AchievementDefintion') }}>
        {{ data_table(table) }}
    </div>

    {#
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Uri</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for achievement_definition in achievement_definitions %}
                <tr>
                    <td>{{ achievement_definition.name }}</td>
                    <td>{{ achievement_definition.uri }}</td>
                    <td class="text-nowrap">
                        <a class="btn btn-primary" href="{{ path('app_achievement_definition_show', {'id': achievement_definition.id}) }}">Show</a>
                        <a class="btn btn-secondary" href="{{ path('app_achievement_definition_edit', {'id': achievement_definition.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    #}

    <div class="mt-3 float-end">
        <a class="btn btn-secondary" href="{{ path('app_achievement_definition_new') }}">Add achievement</a>
        <a class="btn btn-secondary" href="{{ path('app_achievement_definition_import') }}">Import</a>
    </div>
{% endblock %}
