{% extends 'base.html.twig' %}

{% block body %}
    <h1>Import Awards</h1>

    <div class="card mb-4">
        <div class="card-body">
            <p>
                You can upload a CSV file of awards to be awarded.
            </p>

            <p>
                The CSV file should have the following headers:<br/>
            </p>

            <pre class="border p-1 ms-4">awarder,achievement,participant,awardTemplate,emailTemplate,var1,var2,...</pre>

            <p>
                Where <code>var1</code>, <code>var2</code>, ... are the names of variables and scores in the award and email templates used.
            </p>
            <p>
                The values sent in each row for the columns should be the following:
            </p>
            <ul>
                <li><code>awarder</code> - the name of the awarder</li>
                <li><code>achievement</code> - the name of the achievement</li>
                <li><code>awardTemplate</code> - the name of the award template</li>
                <li><code>emailTemplate</code> - the name of the email template</li>
                <li><code>participant</code> - the email address of the participant</li>
                <li><code>var1</code>, <code>var2</code>, ... - the values of variables and scores in the award and email templates used.</li>
            </ul>
        </div>
    </div>

    {{ form_start(uploadForm) }}
    {{ form_errors(uploadForm) }}
    {{ form_widget(uploadForm) }}
    <button type="submit" class="btn btn-primary float-end">{{ button_label|default('Save') }}</button>
    {{ form_end(uploadForm) }}
{% endblock %}

{% block title %}
    Award Import
{% endblock %}

