{% extends 'base.html.twig' %}

{% block title %}Awards{% endblock %}

{% block metas %}<meta name="turbo-refresh-scroll" content="preserve">{% endblock %}

{% block stylesheets %}
    <style>
        td:nth-child(5) {
            white-space:nowrap;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Awards</h1>

    <div {{ turbo_stream_listen('App\\Entity\\Award') }}>
        {{ data_table(tableAwards) }}
    </div>

    {#
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Achievement</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="awards" {{ turbo_stream_listen('App\\Entity\\Award') }}>
        {% for award in awards %}
            {{ include('award/_table_row.html.twig') }}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    #}

    <div>
        <a class="btn btn-secondary mt-3 float-end" href="{{ path('app_award_import') }}">Import Awards</a>
    </div>
{% endblock %}
