{% set current_route = app.request.get('_route') %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Open Awarding Service{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>oas</text></svg>">
        <meta name="turbo-prefetch" content="false">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid d-flex flex-column">
            <div class="row">
                <nav class="col-4 col-sm-3 col-lg-2 min-vh-100 bg-body-tertiary pt-3 pe-3">
                    <div class="text-center">
                        <a href="{{ path('app_home') }}" class="link-dark text-decoration-none">OAS</a>
                    </div>
                    <hr />
                    <ul class="nav nav-pills flex-column mb-auto">
                        {{ _self.navItem('Home', 'app_home', current_route) }}
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ _self.navItem('Awarders', 'app_awarder_index', current_route) }}
                            {{ _self.navItem('Achievements', 'app_achievement_definition_index', current_route) }}
                            {{ _self.navItem('Pathways', 'app_pathway_index', current_route) }}
                            {{ _self.navItem('Award Templates', 'app_award_template_index', current_route) }}
                            {{ _self.navItem('Email Templates', 'app_email_template_index', current_route) }}
                            {{ _self.navItem('Participants', 'app_participant_index', current_route) }}
                            {{ _self.navItem('Awards', 'app_award_index', current_route) }}
                            {{ _self.navItem('Emails', 'app_email_index', current_route) }}
                            {{ _self.navItem('Users', 'app_user_index', current_route) }}
                        {% endif %}
                        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <hr />
                            <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link {% if current_route == 'app_login' %}link-light active{% else %}link-dark{% endif %}" {% if current_route == 'app_login' %} aria-current="page" {% endif %}>Login</a></li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <hr />
                            <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link link-dark" data-turbo-prefetch="false">Logout</a></li>
                        {% endif %}
                    </ul>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="text-center">
                            <a href="{{ path('app_award_new') }}" class="btn btn-primary mt-5">Issue Award</a>
                        </div>
                    {% endif %}
                    {#
                    <hr />
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none">User Info</a>
                    #}
                </nav>
                <div class="col-8 col-sm-9 col-lg-10 flex-grow-1 bg-body pt-3 pe-3 overflow-x-auto">
                    <div class="row flex-grow-1">
                        <div class="col">
                        </div>
                    </div>
                    <div class="row">
                        <main class="col">
                            {% block body %}{% endblock %}
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% macro navItem(name, route, current_route) %}
    <li class="nav-item"><a href="{{ path(route)}}" class="nav-link {% if route == current_route %}link-light active{% else %}link-dark{% endif %}"{% if route == current_route %} aria-current="page" {% endif %}>{{ name }}</a></li>
{% endmacro %}
